# Point VIRTUAL_ENV at Poetry’s venv
# export VIRTUAL_ENV=$(poetry env info --path)

# Prepend the venv’s bin/ so python, pip, etc. come from there
# PATH_add "$VIRTUAL_ENV/bin"

# ~/.envrc in ts-dashboard/
# export NOTEBOOK_DIR="$PWD/notebooks"

# export FOOF="testFOOF"

layout poetry
