<!DOCTYPE html>
<html>
<head>
  <script src="/static/plotly.min.js"></script>
</head>
<body>
  <button id="refresh">Refresh</button>
  <div id="chart" style="width:100%;height:600px;"></div>
  <script>
    async function draw() {
      const resp = await fetch('/api/btc');
      const data = await resp.json();
      console.log("Fetched BTC data:", data);
      const dates = data.map(p => p.date);
      const prices = data.map(p => p.price);
      // Plotly.newPlot('chart', [{
      //   x: dates,
      //   y: prices,
      //   type: 'candlestick'  // or simply type: 'scatter' for line
      // }]);
      Plotly.newPlot('chart', [{
      x: dates,
      y: prices,
      type: 'scatter',
      mode: 'lines+markers'
    }]);
    }
    document.getElementById('refresh').onclick = draw;
    draw();
  </script>
</body>
</html>
